@page "/findergame"
@using src.Enums
@layout Layout.AuthenticatedLayout

<PageTitle>Find Objects</PageTitle>

@if (GetCurrentGameState() == GameState.Waiting)
{
    @if(selectedDifficulty == string.Empty)
    {
        <div style="position:relative; padding: 10px; text-align: center;">
            <h3>Choose difficulty</h3>
            <div>
                <button @onclick="@(() => SetDifficulty("Easy"))"
                        class="btn-rounded">
                    Easy
                </button>
                <button @onclick="@(() => SetDifficulty("Medium"))"
                        class="btn-rounded">
                    Medium
                </button>
                <button @onclick="@(() => SetDifficulty("Hard"))"
                        class="btn-rounded">
                    Hard
                </button>
            </div>
        </div>
    }
    else
    {
        <div style="position:relative; padding: 10px; text-align: center;">
            <button @onclick="StartGame"
                    class="btn-rounded">
                Start Game
            </button>
        </div>
    }
}
else
{
    <h3>Find the objects that don't belong in the set time!</h3>
    <p>@($"Time left: {@counter}")</p>
    <div style="position:relative; padding: 10px;">
        <div style="display:flex; flex-direction:row">
            <!-- Background image -->
            <img src="@GetCurrentLevel().Image" style="width:100%;" />

            <!-- List of objects to find -->
            <div class="outlined-box">
                <h4>Objects to find</h4>
                <hr />
                @foreach (var obj in GetCurrentLevel().GameObjects)
                {
                    @if (!obj.IsFound)
                    {
                        <div>
                            @(obj.Name)
                        </div>
                    }
                }
            </div>
        </div>


        <!-- Objects to find -->
        @foreach (var obj in GetCurrentLevel().GameObjects)
        {
            <img src="@obj.Image" @onclick="() => ObjectClicked(obj)"
                 style="position:absolute;
                        left:@($"{obj.Position.X}%");
                        top:@($"{obj.Position.Y}%");
                        display:@(obj.IsFound ? "none" : "block");" />
        }

        @if (CheckIfAllObjectsFound())
        {
            <!-- Pop-up to congratulate and show home and next buttons -->
            <div style="position:absolute;
                        left: 30%;
                        top: 45%;
                        color: green;
                        font-size: 24px;
                        padding: 10px;
                        background-color: white;
                        border-radius: 10px;">
                You found all the objects. Congratulations!
                <div style="text-align: center">
                    <button @onclick="ReturnToHomePage">
                        Try other games
                    </button>
                    <button @onclick="LoadNextLevel">
                        Next level
                    </button>
                </div>
            </div>
        }
        @if (GetCurrentGameState() == GameState.Failed)
        {
            <!-- Pop-up to show failure with home and retry buttons -->
            <div style="position:absolute;
                        left: 30%;
                        top: 45%;
                        color: red;
                        font-size: 24px;
                        padding: 10px;
                        background-color: white;
                        border-radius: 10px;">
                You failed to find all the objects in the given time!
                <div style="text-align: center">
                    <button @onclick="ReturnToHomePage">
                        Try other games
                    </button>
                    <button @onclick="ReloadLevel">
                        Retry
                    </button>
                </div>
            </div>
        }
    </div>
}