@page "/reading/{level:int}/"
@rendermode InteractiveServer

<PageTitle>Reading</PageTitle>

<h1>Reading Level @level</h1>

@if (isStartScreen)
{
    <p>Click the button below to start the reading level.</p>
    <button @onclick="OnStartClick">Start Reading Level</button>
}
else if (isReadingScreen)
{
    <p role="timer">Time: @taskTimer</p>
    <p>@text</p>

    <button @onclick="OnReadingFinished">I've already read it!</button>
}
else if (isQuestionsScreen)
{
    <h2>@questionNumber Question! Please select the correct answer.</h2>
    <p>@question</p>

    <button @onclick="() => AnswerClick(1)" disabled="@isButtonsDisabled">@answer1</button>
    <button @onclick="() => AnswerClick(2)" disabled="@isButtonsDisabled">@answer2</button>
    <button @onclick="() => AnswerClick(3)" disabled="@isButtonsDisabled">@answer3</button>
    <button @onclick="() => AnswerClick(4)" disabled="@isButtonsDisabled">@answer4</button>

    @if (isNextButtonEnabled || isEndButtonEnabled)
    {
        <p>Your answer: @correct</p>
        if (isNextButtonEnabled)
        {
            <button @onclick="OnNextQuestion">Next Question</button>
        }
        else if (isEndButtonEnabled)
        {
            <button @onclick="OnEndLevel">End Level</button>
        }
    }
}
else if (isEndScreen)
{
    <p>Game Over!</p>
    <p>Your score is: @score</p>
    <button @onclick="OnRestartClick">Restart</button>
}