@page "/reading/{level:int}/"
@rendermode InteractiveServer
@namespace Components.Pages

<PageTitle>Reading</PageTitle>

<h1>Reading Level @level</h1>

@if (isStartScreen)
{
    if(errorHappend)
    {
        <div style="text-align: center">
            <span>@errorMessage</span>
        </div>
    }
    else
    {
        <p>Click the button below to start the reading level.</p>
        <button @onclick="OnStartClick" class="btn btn-dark">Start Reading Level</button>
    }
}
else if (isReadingScreen)
{
    <p role="timer">Time: @taskTimer</p>
    <p class="border border-dark p-3 rounded"> @text</p>

    <button @onclick="OnReadingFinished" class="btn btn-dark">I've already read it!</button>
}
else if (isQuestionsScreen)
{
    <h2>@currentQuestion Question! Please select the correct answer.</h2>
    <p>@question</p>

    <button @onclick="() => AnswerClick(1)" disabled="@isButtonsDisabled" class="btn btn-dark">@answer1</button>
    <button @onclick="() => AnswerClick(2)" disabled="@isButtonsDisabled" class="btn btn-dark">@answer2</button>
    <button @onclick="() => AnswerClick(3)" disabled="@isButtonsDisabled" class="btn btn-dark">@answer3</button>
    <button @onclick="() => AnswerClick(4)" disabled="@isButtonsDisabled" class="btn btn-dark">@answer4</button>

    @if (isNextButtonEnabled || isEndButtonEnabled)
    {
        <p>Your answer: @correct</p>
        if (isNextButtonEnabled)
        {
            <button @onclick="OnNextQuestion" class="btn btn-dark">Next Question</button>
        }
        else if (isEndButtonEnabled)
        {
            <button @onclick="OnEndLevel" class="btn btn-dark">End Level</button>
        }
    }
}
else if (isEndScreen)
{
    CalculateScore();
    <p>Game Over!</p>
    <p>You correctly answered: @correctAnswersNum questions</p>
    <p>Your correct answer percentage is: @percentage%</p>
    <p>Your final score: @score</p>
    <div style ="text-align: center">
        <span>Name:</span>
        <input type="text" @bind="username" />
        <button @onclick="SaveScore">
            Save score
        </button>
    </div>
    <button @onclick="OnRestartClick" class="btn btn-dark">Restart</button>
}
